body {
  padding-top: 5rem;
}

.block {
  display: block;
  margin: 20px 0px;
}
span {
  color: red;
}

p {
  margin: 10px 0px;
}
.sender {
  background-color: rgba(26, 160, 237, 0.9);
  padding: 5px;
  width: 100px;
  height: 35px;
  color: white;
  border: 0px;
  border-radius: 3px;
}

.message {
  list-style: none;
  text-decoration: none;
  color: green;
  font-size: 2rem;
}
